<section class="work">
    <aside class="work-top">
        <aside class="position"> 
            <label for="position-input" class="position-label">თანამდებობა</label>
            <div>
                <input [(ngModel)]="workExperience.position" (ngModelChange)="onInputChange()" type="text" id="position-input" class="position-input" placeholder="თანამდებობა" >
                <span></span>
            </div>
            <h6>მინიმუმ 2 სიმბოლო</h6>
        </aside>
        <aside class="employer">
            <label for="employer-input" class="employer-label">დამსაქმებელი</label>
            <div>
                <input [(ngModel)]="workExperience.employer" (ngModelChange)="onInputChange()" type="text" id="employer-input" class="employer-input"  placeholder="დამსაქმებელი">
                <span></span>
            </div>
            <h6>მინიმუმ 2 სიმბოლო</h6>
        </aside>
    </aside>
    <aside class="work-middle">
        <aside class="start-date">
            <label for="input-start-date" id="label-start-date">დაწყების რიცხვი</label>
            <div>
                <input [(ngModel)]="workExperience.startDate" (ngModelChange)="onInputChange()" type="date" id="input-start-date" class="input-start-date">
            </div>
        </aside>
        <aside class="end-date">
            <label for="input-end-date" id="label-end-date">დამთავრების რიცხვი</label>
            <div>
                <input [(ngModel)]="workExperience.endDate" (ngModelChange)="onInputChange()" type="date" id="input-end-date" class="input-end-date">
            </div>
        </aside>
    </aside>
    <aside class="work-bottom">
        <label for="work-description" id="work-description-label">როლი თანამდებობაზე და ზოგადი აღწერა</label>
        <textarea [(ngModel)]="workExperience.description" (ngModelChange)="onInputChange()" id="work-description" class="work-description" cols="30" rows="10" placeholder="გთხოვთ, შეიყვანოთ საქმიანობის აღწერა"></textarea>
    </aside>
</section>
<hr>