@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

.background {
    background-image: url('/assets/background-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background div {
    width: 100%;
}

.background div h1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    font-family: 600;
}

.background div span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.background div span button {
    background-color: black;
    border: 0px;
    border-radius: 10px;
    width: 300px;
    height: 70px;
    color: rgb(255, 115, 0);
    font-size: 26px;
    font-family: 'Kenia', cursive;
    cursor: pointer;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.378);
}

.background div span button:hover {
    font-size: 30px;
}