section {
    display: grid;
    grid-template-rows: 7fr 1fr;
}

.vector {
    width: 20px;
    height: 100px;
    padding-top: 80px;
}

section div {
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

section div button {
    background-color: black;
    border: 0px;
    border-radius: 10px;
    width: 300px;
    height: 70px;
    color: rgb(255, 115, 0);
    font-size: 26px;
    font-family: 'Kenia', cursive;
    cursor: pointer;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.378);
}


section div button:hover {
    font-size: 30px;
}