<ng-container *ngFor="let workExperience of workExperiences; index as i">
    <app-work-experience-item
        [workExperience]="workExperience"
        (workExperienceChanged)="onWorkExperienceChanged($event, i)"
    ></app-work-experience-item>
</ng-container>
<aside class="top-button">
    <button (click)="onAddExperience()" class="add-exp">მეტი გამოცდილების დამატება</button>
</aside>
<aside class="bottom-button">
    <button (click)="prevPage()" class="back-button-2nd">უკან</button>
    <button (click)="nextPage()" class="next-button-2nd">შემდეგი</button>
</aside>