section {
    width: 798px;
    margin-left: 80px;
}

section .top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 56px;
}

section .top aside label {
    display: block;
    margin-top: 60px;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: black;
}

section .top aside .for-iconv {
    display: flex;
    align-items: center;
}

section .top aside input {
    margin-top: 8px;
    width: 300px;
    height: 48px;
    border-radius: 4px;
    background-color: var(--secondary-color);
    border: 1px solid #BCBCBC;
    padding-left: 16px;
    position: absolute;
    outline: none;
    color: var(--primary-color);

}

section .top aside input::placeholder {
    color: #BCBCBC;
}


section .top aside h6,
section .bottom aside h6 {
    margin-top: 8px;
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    color: #2e2e2e;
}

section .bottom .photo {
    margin: 54px 0px ;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

section .bottom .photo h4 {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 21.98px;
    color: var(--primary-color);
    width: 247px;
}
section .bottom .photo div {
   width: 100px;
}

section .bottom .photo label {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 16.7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0E80BF;
    width: 107px;
    height: 27px;
    border-radius: 4px;
    color: #FFFFFF;
    margin-bottom: 30px;
}


section .bottom .photo  input[type="file"] {
    visibility: hidden;
    display: none;
}

section .bottom aside label {
    display: block;
    font-family: var(--primary-font);
    font-weight: 500;
    size: 16px;
    line-height: 21px;
    margin-bottom: 8px;
}

section .bottom aside textarea {
    resize: none;
    width: 90%;
    height: 103px;
    border-radius: 4px;
    border: 1px solid #BCBCBC;
    background-color: var(--secondary-color);
    padding-top: 13px;
    padding-left: 16px;
    font-family: var(--primary-font);
    font-weight: 400;
    size: 16px;
    line-height: 21px;
    color: var(--primary-color);
    outline: none;
}

section .bottom aside textarea::placeholder {
    color: #BCBCBC;
}

section .bottom aside .email-label {
    margin-top: 33px;
}

section .bottom aside .number-label {
    margin-top: 29px;
}

section .bottom aside input {
    width: 42%;
    height: 48px;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid #BCBCBC;
    background-color: var(--secondary-color);
    font-size: 16px;
    font-family: var(--primary-font);
    line-height: 21px;
    font-weight: 400;
    color: var(--primary-color);
    position: absolute;
    outline: none;
}

section .bottom aside input::placeholder {
    color: #BCBCBC;
}

section div {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.button-div {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: -84px;
    margin-top: 82px;
}

div button {
    width: 151px;
    height: 48px;
    background: #6B40E3;
    border-radius: 4px;
    border: 0px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--secondary-color);
    margin-bottom: 65px;
    letter-spacing: 1.28px;
}

