<section>
    <aside class="top">
        <aside>
            <label [ngClass]="{'error': firstNameFormControl.invalid && (firstNameFormControl.dirty || firstNameFormControl.touched)}" for="name">სახელი</label>
            <div class="for-icon">
                <input [formControl]="firstNameFormControl" [(ngModel)]="profile.firstName" (ngModelChange)="onInputChange()" type="text" id="name" name="name" placeholder="შეიყვანეთ თქვენი სახელი" [ngClass]="{'error': firstNameFormControl.invalid && (firstNameFormControl.dirty || firstNameFormControl.touched), 'valid': firstNameFormControl.valid && (firstNameFormControl.dirty || firstNameFormControl.touched)}">
                <span [ngClass]="{'error': firstNameFormControl.invalid && (firstNameFormControl.dirty || firstNameFormControl.touched), 'valid': firstNameFormControl.valid && (firstNameFormControl.dirty || firstNameFormControl.touched)}">
                </span>
            </div>
            <h6>მინიმუმ 2 ასო, ქართული ასოები</h6>
        </aside>
        <aside>
            <label [ngClass]="{'error': lastNameFormControl.invalid && (lastNameFormControl.dirty || lastNameFormControl.touched), 'valid': lastNameFormControl.valid && (lastNameFormControl.dirty || lastNameFormControl.touched)}" for="surname">გვარი</label>
            <div class="for-icon">
                <input [formControl]="lastNameFormControl" [(ngModel)]="profile.lastName"  (ngModelChange)="onInputChange()" type="text" id="surname" name="surname" placeholder="შეიყვანეთ თქვენი გვარი" [ngClass]="{'error': lastNameFormControl.invalid && (lastNameFormControl.dirty || lastNameFormControl.touched), 'valid': lastNameFormControl.valid && (lastNameFormControl.dirty || lastNameFormControl.touched)}">
                <span [ngClass]="{'error': lastNameFormControl.invalid && (lastNameFormControl.dirty || lastNameFormControl.touched), 'valid': lastNameFormControl.valid && (lastNameFormControl.dirty || lastNameFormControl.touched)}"></span>
            </div>
            <h6>მინიმუმ 2 ასო, ქართული ასოები</h6>
        </aside>
    </aside>
    <aside class="bottom">
        <aside class="photo">
            <h4 [ngClass]="{'error': photoFormControl.invalid && (photoFormControl.dirty || photoFormControl.touched), 'valid': photoFormControl.valid && (photoFormControl.dirty || photoFormControl.touched)}">პირადი ფოტოს ატვირთვა</h4>
            <div> 
                <label for="image">ატვირთვა</label>
                <input [formControl]="photoFormControl" (change)="onImageSelected($event)" type="file" id="image" name="image" [ngClass]="{'error': photoFormControl.invalid && (photoFormControl.dirty || photoFormControl.touched), 'valid': photoFormControl.valid && (photoFormControl.dirty || photoFormControl.touched)}">
            </div>
        </aside>
        <aside>
            <label [ngClass]="{'valid': descriptionFormControl.valid && (descriptionFormControl.dirty || descriptionFormControl.touched)}" for="description">ჩემ შესახებ(არასავალდებულო)</label>
            <textarea [formControl]="descriptionFormControl" [(ngModel)]="profile.description"  (ngModelChange)="onInputChange()"  id="description" cols="30" rows="9" name="description" placeholder="ზოგადი ინფო შენ შესახებ" maxlength="300" [ngClass]="{'valid': descriptionFormControl.valid && (descriptionFormControl.dirty || descriptionFormControl.touched)}" maxlength="250 "></textarea>
        </aside>
        <aside>
            <label [ngClass]="{'error': emailFormControl.invalid && (emailFormControl.dirty || emailFormControl.touched), 'valid': emailFormControl.valid && (emailFormControl.dirty || emailFormControl.touched)}" class="email-label" for="email">ელ.ფოსტა</label>
            <div>
                <input [formControl]="emailFormControl" [(ngModel)]="profile.email"  (ngModelChange)="onInputChange()" type="email" id="email" name="email" placeholder="შეიყვანეთ თქვენი ელ.ფოსტა" [ngClass]="{'error': emailFormControl.invalid && (emailFormControl.dirty || emailFormControl.touched), 'valid': emailFormControl.valid && (emailFormControl.dirty || emailFormControl.touched)}">
                <span [ngClass]="{'error': emailFormControl.invalid && (emailFormControl.dirty || emailFormControl.touched), 'valid': emailFormControl.valid && (emailFormControl.dirty || emailFormControl.touched)}"></span>
            </div>
        </aside>
        <aside>
            <label [ngClass]="{'error': phoneFormControl.invalid && (phoneFormControl.dirty || phoneFormControl.touched), 'valid': phoneFormControl.valid && (phoneFormControl.dirty || phoneFormControl.touched)}"class="number-label" for="phone">მობილურის ნომერი</label>
            <div>
                <input [formControl]="phoneFormControl" [(ngModel)]="profile.phone"  (ngModelChange)="onInputChange()" type="tel" id="phone" name="phone" placeholder="შეიყვანეთ თქვენი მობილურის ნომერი" [ngClass]="{'error': phoneFormControl.invalid && (phoneFormControl.dirty || phoneFormControl.touched), 'valid': phoneFormControl.valid && (phoneFormControl.dirty || phoneFormControl.touched)}">
                <span [ngClass]="{'error': phoneFormControl.invalid && (phoneFormControl.dirty || phoneFormControl.touched), 'valid': phoneFormControl.valid && (phoneFormControl.dirty || phoneFormControl.touched)}"></span>
            </div>
            <h6>უნდა აკმაყოფილებდეს ქართული მობილური ნომრის ფორმატს</h6>
        </aside>
    </aside>
</section>
<div class="button-div">
    <button [disabled]="!isValid()" (click)="nextPage()" class="next-button-1st">შემდეგი</button>
</div>