<section class="school">
    <aside class="top-education">
        <label [ngClass]="{'error': institutionFormControl.invalid && (institutionFormControl.dirty || institutionFormControl.touched), 'valid': institutionFormControl.valid && (institutionFormControl.dirty || institutionFormControl.touched)}" for="education-input" class="education-label">სასწავლებელი</label>
        <div>
            <input [formControl]="institutionFormControl" [ngClass]="{'error': institutionFormControl.invalid && (institutionFormControl.dirty || institutionFormControl.touched), 'valid': institutionFormControl.valid && (institutionFormControl.dirty || institutionFormControl.touched)}" [(ngModel)]="education.institution" (ngModelChange)="onInputChange()" type="text" id="education-input" class="education-input" placeholder="სასწავლებელი" >
            <span [ngClass]="{'error': institutionFormControl.invalid && (institutionFormControl.dirty || institutionFormControl.touched), 'valid': institutionFormControl.valid && (institutionFormControl.dirty || institutionFormControl.touched)}"></span>
        </div>
        <h6>მინიმუმ 2 სიმბოლო</h6>
    </aside>
    <aside class="middle-education">
        <aside class="status-education">
            <div class="form">
                <label [ngClass]="{'error': startDateFormControl.invalid && (startDateFormControl.dirty || startDateFormControl.touched), 'valid': startDateFormControl.valid && (startDateFormControl.dirty || startDateFormControl.touched)}" for="input-status" id="input-status">დაწყების რიცხვი</label>
                <div>
                    <input [formControl]="startDateFormControl" [ngClass]="{'error': startDateFormControl.invalid && (startDateFormControl.dirty || startDateFormControl.touched), 'valid': startDateFormControl.valid && (startDateFormControl.dirty || startDateFormControl.touched)}" [(ngModel)]="education.startDate" (ngModelChange)="onInputChange()" type="date" id="input-end-date-edu" class="input-end-date-edu">
                </div>
            </div>
        </aside>
        <aside class="end-date">
            <label [ngClass]="{'error': endDateFormControl.invalid && (endDateFormControl.dirty || endDateFormControl.touched), 'valid': endDateFormControl.valid && (endDateFormControl.dirty || endDateFormControl.touched)}"  for="input-end-date-edu" id="label-end-date-edu">დამთავრების რიცხვი</label>
            <div>
                <input [formControl]="endDateFormControl" [ngClass]="{'error': endDateFormControl.invalid && (endDateFormControl.dirty || endDateFormControl.touched), 'valid': endDateFormControl.valid && (endDateFormControl.dirty || endDateFormControl.touched)}" [(ngModel)]="education.endDate" (ngModelChange)="onInputChange()" type="date" id="input-end-date-edu" class="input-end-date-edu">
            </div>
        </aside>
    </aside>
    <aside class="bottom-education">
        <label [ngClass]="{'error': descriptionFormControl.invalid && (descriptionFormControl.dirty || descriptionFormControl.touched), 'valid': descriptionFormControl.valid && (descriptionFormControl.dirty || descriptionFormControl.touched)}" for="education-description" id="education-description-label">განათლების აღწერა</label>
        <div>
            <textarea [formControl]="descriptionFormControl" [ngClass]="{'error': descriptionFormControl.invalid && (descriptionFormControl.dirty || descriptionFormControl.touched), 'valid': descriptionFormControl.valid && (descriptionFormControl.dirty || descriptionFormControl.touched)}"  [(ngModel)]="education.description" (ngModelChange)="onInputChange()" id="education-description" class="education-description" cols="30" rows="10" placeholder="გთხოვთ, შეიყვანოთ საქმიანობის აღწერა"></textarea>
        <span [ngClass]="{'error-textarea': descriptionFormControl.invalid && (descriptionFormControl.dirty || descriptionFormControl.touched), 'valid-textarea': descriptionFormControl.valid && (descriptionFormControl.dirty || descriptionFormControl.touched)}"></span>
        </div>
    </aside>
</section>
<hr>