label.error {
    color: red !important;
}

input.error {
    border-color: red !important;
}

input.valid {
    border-color: greenyellow !important;
}

textarea.error {
    border-color: red !important;
}

textarea.valid {
    border-color: greenyellow !important;
}

span.error {
    background-image: url("/assets/red-icon.png");
    width: 23px;
    height: 20px;
    background-repeat: no-repeat;
    margin-top: 15px;
}

span.error-textarea {
    background-image: url("/assets/red-icon.png");
    width: 23px;
    height: 20px;
    background-repeat: no-repeat;
    margin-top: 60px;
}

span.valid {
    background-image: url("/assets/green-icon.png");
    width: 23px;
    height: 20px;
    background-repeat: no-repeat;
    margin-top: 15px;
}

span.valid-textarea {
    background-image: url("/assets/green-icon.png");
    width: 23px;
    height: 20px;
    background-repeat: no-repeat;
    margin-top: 60px;
}


h4.error {
    color: red !important;
}

h4.valid {
    border-color: greenyellow !important;
}

