.right {
    width: 100%;
}

.right .top{
    height: 750px;
}

.right .bottom{
    height: 180px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.bottom div {
    width: 42px;
    height: 42px;
    background-image: url('../../../assets/sparkle.png');
    margin-bottom: 100px;
    margin-left: 78px;
}